<hr />
<div class="message">
<p>
  <b>From:</b>
  <%= message.sender %>
</p>

<p>
  <b>To:</b>
  <%= message.receiver %>
</p>

<p>
  <b>Subject:</b>
  <%= message.subject %>
</p>

<p>
  <%= message.body %>
</p>

| <%= link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete %> 
| <%= link_to 'Reply', new_message_path(:role_id => message.sender, :subject => 'Re: ' + message.subject) %> 
|
</div>
