<%= form_for(@athlete) do |f| %>
  <% if @athlete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@athlete.errors.count, "error") %> prohibited this athlete from being saved:</h2>

      <ul>
      <% @athlete.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <table>
    <tr>
      <td align="right">
	<%= f.label :first_name %>
      </td>
      <td>
	<%= f.text_field :first_name %>
      </td>
    </tr>
    <tr>
      <td align="right">
	<%= f.label :last_name %>
      </td>
      <td>
	<%= f.text_field :last_name %>
      </td>
    </tr>
    <tr>
      <td align="right">
	<%= f.label :date_of_birth %>
      </td>
      <td>
	<%= f.text_field :date_of_birth %>
      </td>
    </tr>
    <tr>
      <td align="right">
	<%= f.label :gender %>
      </td>
      <td>
	<%= f.select :gender, Athlete::GENDERS, :include_blank => true %>
      </td>
    </tr>
  </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
