<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @role.user_id %>
</p>

<p>
  <b>Profile:</b>
  <%= @role.profile_id %>
</p>

<p>
  <b>Profile type:</b>
  <%= @role.profile_type %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
