<!DOCTYPE html>
<html>
<head>
  <title>SportsProf</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="banner">
    <%= link_to "SportsProf", root_path %>
  </div>
  <div id="navigation">
    <div id="home"> |
      <% if user_signed_in? %>
        <%= link_to 'My Profiles', roles_path %> |
	<% if current_user.role %>
          <% role = current_user.role %>
          <%= link_to role, role.profile %> |
	  <% if role.messages.any? %>
            <%= link_to 'Messages', messages_path(:role_id => role) %> |
          <% end %>
	<% end %>
      <% end %>
    </div>
    <div id="login"> |
      <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path %> |
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :confirm => "Sign out?" %> |
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %> |
      <% end %>
    </div>
  </div>
</div>
<div id="columns">
  <div id="side">
    <%= yield :side %>
  </div>
  <div id="main">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <%= yield %>
  </div>
</div>
</body>
</html>
